.container {
    padding: 1.25rem;
    display: flex;
    margin-top: 2rem;
    background: var(--clrLight);
    min-height: 100vh;
    animation: hid 1s;
}

@keyframes hid {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.filter {
    position: fixed;
    width: 50%;
    padding: 1.25rem;
}

.listFilter {
    display: flex;
    gap: 2rem;
    padding: 0.625rem 0;
    border-bottom: 0.0625rem solid var(--clrOlive);
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    width: 70%;
}


.listFilter li {
    font-size: 1rem;
    cursor: pointer;
    transition: 0.1s;
    color: var(--clrOlive);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.listFilter li.activeItem {
    color: var(--clrMain);
}

.listCategory {
    padding: 1.5625rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.itemLi {
    font-size: 1.125rem;
    transition: 0.2s;
}

.itemLi:hover {
    color: var(--clrOlive);
}

.activeLi {
    font-size: 1.125rem;
    color: var(--clrOlive);
    font-weight: 800;
    font-size: 1.5rem;
    transition: 0.2s;
}


.logo {
    position: relative;
    font-size: 4rem;
    width: 28.125rem;
    height: 1.35rem;
    margin-top: 2.5rem;
}

.content {
    margin-left: 50vw;
}

.listContentItem {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
}

.listContentItem span {
    font-size: 1.5625rem;
}

.projectPhoto {
    position: relative;
    width: 37.5rem;
    height: 25rem;
}

@media (max-width: 576px) {
    .container {
        flex-direction: column;
    }

    .logo {
        width: 85vw;
        height: calc(85vw/21);
    }

    .filter {
        position: static;
        width: 100%;
        padding: 0;
    }

    .listFilter {
        width: 100%;
        margin-top: 2.5rem;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
    }

    .listFilter li {
        flex: 1
    }

    .content {
        margin-left: 0;
    }

    .listContentItem {
        padding: 1.25rem 0;
    }

    .projectPhoto {
        width: 90vw;
        height: calc(90vw/1.5);
    }
}