.main {}

@keyframes hid {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 120vh;
}

.containerMain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.containerFooter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 55vh;
    padding: 2.5rem;
}


.fonMain {
    position: fixed !important;
    top: 0;
    left: 0;
    transition: 0.5s ease-out;
    animation: hid 2s;
}

.fon {
    position: fixed !important;
    top: 0;
    left: 0;
    transition: 0.5s ease-out;
}

.blockText {
    position: relative;
}

.logoImg {
    animation: hid 1s;
}

.text {
    position: absolute;
    top: 6rem;
    right: 2rem;
    font-size: 1.375rem;
    line-height: 1.3em;
    color: var(--clrMain);
    animation: hid 1s;
}

.textName {
    color: #fff;
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 10;
}


.arrowBlock {
    display: flex;
    position: relative;
    width: 7.5rem;
    height: 2.5rem;
    margin: 0 auto;
}

.arrowBlock img {
    z-index: 10;
}


.linkText {
    display: flex;
    flex-direction: column;
}

.myFooter {
    z-index: 10;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.myFooter div {
    font-size: 1.5625rem;
    display: flex;
    gap: 2.5rem;
}

.myFooter div:nth-child(2) {
    cursor: pointer;
}