.container {
    padding: 1.25rem;
    display: flex;
    margin-top: 2rem;
    background: var(--clrLight);
    min-height: 100vh;
    animation: hid 1s;
}

@keyframes hid {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.filter {
    position: fixed;
    width: 50%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.filter div {
    flex: 1;
}

.logo {
    font-weight: 800;
    font-size: 4rem;
    color: var(--clrMain);
    text-transform: uppercase;
}

.description {
    font-size: 1.5625rem;
}

.photoList {
    display: flex;
    flex-direction: column;
}

.content {
    margin-left: 50vw;
}

.listContentItem {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
}