.container {
    padding: 1.25rem;
    display: flex;
    margin-top: 2rem;
    background: var(--clrLight);
    min-height: 100vh;
    animation: hid 1s;
}

@keyframes hid {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.filter {
    position: fixed;
    width: 50%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.logo {
    position: relative;
    font-size: 4rem;
    width: 28.125rem;
    height: 1.35rem;
    margin-top: 2.5rem;
}

.description {
    font-size: 1.5625rem;
}

.photoList {
    display: flex;
    flex-direction: column;
}

.content {
    margin-left: 50vw;
}

.listContentItem {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    width: 37.5rem;
    height: 25rem;
}

@media (max-width: 576px) {
    .container {
        flex-direction: column;
        gap: 1.25rem;
    }

    .filter {
        position: static;
        width: 100%;
        padding: 0;
        gap: 2.5rem;
    }

    .content {
        margin-left: 0;
    }

    .listContentItem {
        padding: 0;
        width: 90vw;
        height: calc(90vw/1.5);
    }

    .logo {
        width: 85vw;
        height: calc(85vw/21);
    }
}